.bookContainer {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 1%;
  padding: 0.5% 3%;
  border: 2px solid rgba(211, 211, 211, 0.5);

}

.bookContainer > * {
  width: 33.33%;
}

.bookDetails {
  display: flex;
  flex-direction: column;
}

.bookCategory {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  opacity: 0.5;
}

.bookTitle {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.bookAuthor {
  font-family: 'RobotoSlab', serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #4386bf;
}

.bookBtns {
  display: flex;
}

.bookBtns > * {
  border: none;
  background: none;
  padding: 0%;
  margin-right: 1%;
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  margin-top: 0.3%;
}
.btnDivider {
  background-color: rgb(228, 228, 228);
  height: 1.5rem;
  width: 0.125rem;
}

.progress {
  display: flex;
  align-items: center;
}

.progressImg {
  height: 4.25rem;
  margin-right: 2%;}

.progressInfo {
  display: flex;
  flex-direction: column;
}

.progressNum {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.completed {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.bookRight {
  display: flex;
}

.chapDivider {
  background-color: rgb(180, 180, 180);
  opacity: 0.5;
  width: 0.125rem;
  height: 4.375rem;
  margin-right: 10%;
}

.chapBox {
  width: 50%;
}

.chapter {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  font-weight: 300;
}

.currChapter {
  font-size: 0.8rem;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1%;
}

.chapterInfo {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
}

.upChapBtn {
  font-family: 'Roboto Slab', serif;
  padding: 1% 4%;
  background-color: #0290ff;
  border: none;
  border-radius: 3px;
  color: white;
}