.catStatus {
  margin: 20% 20%;
  padding: 0% 25%;
}

.catStatus p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.statBtn {
  font-family: 'Roboto Slab', serif;
  color: white;
  width: 100%;
  padding: 5%;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
}
